// Enrollment Forms To Be Print Styling
.img-relative {
    position: relative;
}

.delete-icon{
    position: absolute;
    background: red;
    padding: 10px;
    top: 0;
    right: 10%;
}
/* WIDTH */
