body {
  min-height: 100vh;
}

#main-form {

  label {
    display: block;
    margin-bottom: 0.5rem;

  input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    border-radius: 0.25rem;
  }

  .form-control-textarea {
    font-size: 0.8rem;
    padding: 0.8rem 1rem;
  }

  .form-control-rounded {
    font-size: 0.8rem;
    border-radius: 10rem;
    padding: 1.2rem 1rem;
  }

}

}

.width-50 {
  width: 50%;
}

.ml-auto {
  margin-left: auto;
}

.text-center {
  text-align: center;
}

/* Progressbar */
.progressbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  counter-reset: step;
  margin: 2rem 0 4rem;
}

.progressbar::before,
.progress {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  background-color: #dcdcdc;
  z-index: -1;
}

.progress {
  background-color: $primary;
  width: 0%;
  transition: 0.3s;
}

.progress-step {
  width: 2.1875rem;
  height: 2.1875rem;
  background-color: #dcdcdc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-step::before {
  counter-increment: step;
  content: counter(step);
}

.progress-step::after {
  content: attr(data-title);
  position: absolute;
  top: calc(100% + 0.5rem);
  font-size: 0.85rem;
  color: #666;
}

.progress-step-active {
  background-color: $primary;
  color: #f3f3f3;
}

/* Form */
#main-form .form {
  width: clamp(320px, 30%, 430px);
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 0.35rem;
  padding: 1.5rem;
}

.form-step {
  display: none;
  transform-origin: top;
  animation: animate 0.5s;
}

.form-step-active {
  display: block;
}

.input-group {
  margin: 2rem 0;
}

#main-form .btns-group {
  display: flex;
  justify-content: space-between;
}

@keyframes animate {
  from {
    transform: scale(1, 0);
    opacity: 0;
  }
  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}

.tab-content {
  height: auto !important;
}

/* #smartwizard > div.toolbar.toolbar-bottom > button.btn.sw-btn-prev {
  background: red !important;
} */

.error {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}