#our-programs p {
    font-weight: 500;
    font-size: 1.1rem;
}

.circle-wrapper {
    background: orange;
    padding: 20px;
    text-align: center;
    width: 100px;
    color: #fff;
    border-radius: 50%;
}
